body {
    background-image: url("../images/fondo.jpg");
}
#marco{
    color: white;
    width: 530px;
    height: 675px;
    border-collapse: collapse;
}
#footer{
    color:aqua;
    text-align: center;
}
.blanco{
    color: white;
}
.center{
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
}

.cnone{
    width: 40px;
    height: 40px;
    border-collapse: collapse;
}

.crojo{
    width: 40px;
    height: 40px;
    background-image: url('../images/cuadros40px/rojo.png');
}

.cverde{
    width: 40px;
    height: 40px;
    background-image: url('../images/cuadros40px/verde.png');
}

.cagua{
    width: 40px;
    height: 40px;
    background-image: url('../images/cuadros40px/agua.png');
}

.camarillo{
    width: 40px;
    height: 40px;
    background-image: url('../images/cuadros40px/amarillo.png');
}

.cazul{
    width: 40px;
    height: 40px;
    background-image: url('../images/cuadros40px/azul.png');
}

.cmorado{
    width: 40px;
    height: 40px;
    background-image: url('../images/cuadros40px/morado.png');
}

.cnaranja{
    width: 40px;
    height: 40px;
    background-image: url('../images/cuadros40px/naranja.png');
}

#table{
    border-collapse: collapse;
}

table, tr, td{
    border:none;
}